
<% if obj.errors.any? %>
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="alert alert-danger" role="alert">
        <h2 class="alert-heading">
          <%= pluralize(obj.errors.count,'Error') %>
          Prohibited this article from being save:
        </h2>
          <p class="mb-0">
            <ul>
              <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul> 
          </p> 
        </div>
      </div>
    </div>
  </div>        
<% end %>

