
<h1 align="center" class="title"> The Articles App </h1>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <%= will_paginate class:"page-link" %>
    </li>
  </ul> 
</nav>   

  <%= render 'article' , obj: @articles %>
  
  <nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <%= will_paginate class:"page-link" %>
    </li>
  </ul> 
</nav>   

   






