
<div class="center jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">MyBlog</h1>
      <%= link_to 'Sing Up', signup_path, class:"btn btn-danger btn-lg btn-xlarge" %>
  </div>
</div>




