<h1 align="center">Listing All Categories</h1>

<div align="center">
<%= will_paginate %>
  <% @categories.each do |c| %>
    <ul class="listing">
      <div class="row">
        <div class="card col-md-4 offset-md-4">
          <li class="card-title">
            <strong><%= link_to "#{c.name}", category_path(c) %></strong>
          </li>
          <li><small><%= pluralize(c.articles.count, "article" ) %></small></li>
        </div>
      </div>
    </ul>   
  <% end %>
  <%= will_paginate %>
</div>

